.consultar_nodos {
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/background4.jpg');
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.consultar_nodos_main_container{
    text-align: center;
    width: 80%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.consultar_nodos i{
    color: rgba(126, 201, 45, 1);
}



.consultar_nodos_table{
    width: 60%;
    text-align: center;
    color: aliceblue;
    margin-bottom: 10vh;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

#consultar_nodos_h1{
    margin-top: 5vh;
    color: aliceblue;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    font-size: 40px;
}

.consultar_nodos_table_container{
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.consultar_nodos_separate_div{
    margin-bottom: 2%;
}

.consultar_nodos_filter{
    width: 30%;
    text-align: center;
    margin-bottom: 5vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.consultar_nodos_spinner{
    margin-top: 10%;
    size: 30px;
    margin-bottom: 80vh
}


@media(max-width: 1000px) {
    /* Cambiar el color de fondo del menú desplegable en dispositivos móviles */

    .consultar_nodos_table{
        width: 90%;
        text-align: center;
    }

    .consultar_nodos_filter{
        width: 60%;
        text-align: center;
        margin-bottom: 5%;
    }

    .consultar_nodos_main_container{
        margin-top: 10%;
        width: 100%;
    }
    
}
