.consultar_nodos_table{
    width: 60%;
    text-align: center;
}

.consultar_nodos_table_container{
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.consultar_nodos_separate_div{
    margin-bottom: 2%;
}

.consultar_nodos_filter{
    width: 20%;
    text-align: center;
}

.consultar_nodos_spinner{
    margin-top: 10%;
    size: 30px;
}

.consultar_nodos_main_container {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    flex-direction: column;
}

@media(max-width: 768px) {
    /* Cambiar el color de fondo del menú desplegable en dispositivos móviles */

    .consultar_nodos_table{
        width: 90%;
        text-align: center;
    }

    .consultar_nodos_filter{
        width: 80%;
        text-align: center;
        margin-bottom: 5%;
    }
    
}
