.consultar_rutas_main_container {
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: auto;
    text-align: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}


.consultar_rutas_img {
    width: 70%;
    height: auto;
}

.consultar_rutas_table {
    width: 40vw;
    text-align: center;
}



@media(max-width: 768px) {
    /* Cambiar el color de fondo del menú desplegable en dispositivos móviles */


    .consultar_rutas_table {
        width: 90%;
        height: auto;
    }

    .consultar_rutas_img {
        width: 100%;
        height: auto;
    }
}
