.consultar_rutas {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/background5.jpg');
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.consultar_rutas_main_container {
    color: aliceblue;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 8%;
    width: 60%;
    flex-direction: column;
    margin-bottom: 10%;
}

.consultar_rutas_h1{
    margin-bottom: 5%;
}

.consultar_rutas i{
    color: rgba(126, 201, 45, 1);
}


.consultar_rutas_img {
    width: 70%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px; /* Agrega esquinas redondeadas */
    border: 2px solid #ccc; /* Agrega un borde de 2px con color gris */
    opacity: 0.8; /* Ajusta la opacidad de la imagen (0.0 a 1.0) */
    filter: grayscale(40%); /* Aplica un efecto de escala de grises al 50% */
    margin-bottom: 20px;
}


.consultar_rutas_table {
    width: 40vw;
    text-align: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}


@media(max-width: 1000px) {

    .consultar_rutas_main_container{
        width: 90%;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .consultar_rutas_img{
        width: 95%;
    }

    .consultar_rutas_table{
        width: 90%;
    }
}