/* About.css */

.about {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -65px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/about.jpg');
    flex-direction: column;
}

.about_main_container {
    width: 60%;
    flex-direction: column;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: azure;
    text-align: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 25px;
    color: azure;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

.about ul {
    list-style: disc;
    padding-left: 20px;
    color: azure;
}

.about li {
    font-size: 16px;
    margin-bottom: 10px;
    color: azure;
}

.about_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_button {
    margin-bottom: 10px;
    width: 20vw;
    background-color: rgba(25, 135, 84, 0.8);
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

.about_button.expanded {
    width: 50vw;
}

#about_bottom_text{
    text-align: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    width: 60%;
}


@media(max-width: 768px) {

    .about_button {
        margin-bottom: 10px;
        width: 50vw;
    }

    .about_button.expanded {
        width: 80vw;
        height: 35%;
        position: absolute;
    }

    .about h2 {
        font-size: 22px;
        margin-top: -15vh;
        color: azure;
        text-align: center;
    }

    .about {
        width: 100vw;
        height: 131vh;
        margin-top: -40px;
        margin-bottom: -65px;
    }

    .about_main_container {
        width: 80%;
    }

    #about_bottom_text{
        margin-top: 60px;
        margin-bottom: -30px;
        text-align: center;
        width: 100%;
    }
}
