.about {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/about.jpg');
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about_main_container {
    margin-top: 10%;
    width: 60%;
    flex-direction: column;
    margin-bottom: 10%;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: azure;
    text-align: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 25px;
    color: azure;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}

.about_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.about_button {
    width: 20vw;
    background-color: rgba(25, 135, 84, 0.8);
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 1%;
}

.about_button_icon{
    font-size: 30px;
    color:aliceblue
}

.about_button.expanded {
    width: 50vw;
}


.about_bottom_text_container{
    text-align: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    width: 100%;
}


@media(max-width: 1000px) {


    .about_button {
        margin-bottom: 1vh;
        width: 50vw;
        position: relative;
    }

    .about_button.expanded {
        width: 80vw;
        height: 35%;
        z-index: 10;
    }

    .about h2 {
        font-size: 22px;
        color: azure;
        text-align: center;
    }

    .about {
        width: 100vw;
        height: auto;

    }

    .about_main_container {
        width: 80%;
        margin-top: 20%;
    }

    .about_main_container.expanded {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #about_bottom_text{
        margin-top: 10%;
        text-align: center;
    }
}
