.home_background {
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -65px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/background.jpg');
}

.home_main_container {
    text-align: center;
    width: 80vw;
}

.home_slogan {
    font-size: 120px;
    color: azure;
    line-height: 1.2;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6); /* Sombras más fuertes */
}

.home_slogan_downtext{
    font-size: 40px;
    color: azure;
    line-height: 1.2;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6); /* Sombras más fuertes */
}

.home_btn {
    margin-top: 5vw;
    font-size: 1.5rem;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s; /* Agrega una transición para la animación */
    position: relative; /* Agrega posición relativa para alinear la luz */
    overflow: hidden; /* Oculta el exceso de brillo que se desborda */
}

.home_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 80%;
    height: 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    animation: btnShine 2s infinite;
}

@keyframes btnShine  {
    to {
        left: 200%; /* Desplazamiento del brillo hacia la derecha */
    }
}

.home_btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}



@media(max-width: 1000px) {

    .home_background{
        height: 100vh;
    }

    .home_main_container {
        text-align: center;
        width: 73vh;
        height: auto;
    }
    
    .home_slogan {
        font-size: 35px;
        color: azure;
        line-height: 1.2;
        text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6); /* Sombras más fuertes */
    }

    .home_slogan_downtext{
        font-size: 15px;
        color: azure;
        line-height: 1.2;
        text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6); /* Sombras más fuertes */
    }
}
