.resultado_busqueda {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/about.jpg');
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

.resultado_busqueda_main_container{
    display: flex;
    margin-top: 10%;
    width: 60%;
    flex-direction: column;
    margin-bottom: 13%;
    text-align: center;
}

.mostrar_mapa{
    width: 100%;
    height: 65vh;
}

.mostrar_mapa_mapa{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.mostrar_paradas{
    width: 100%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    margin-bottom: 10%;
    text-align: center;
}

.resultado_busqueda_table_top{
    width: 50%;
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.consultar_busqueda_button_top{
    width: 100%;
    height: 100%;
}

.resultado_busqueda_table_bottom{
    width: 50%;
    align-self: center;
}

.mostrar_paradas_tabla_title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2%;
    margin-left: 4%;
}

.resultado_busqueda_bottom_container {
    margin-top: 5%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-radius: 10px;
    margin-bottom: 30vh;
}

.resultado_busqueda_h1_container {
    margin-bottom: 3%;
    width: 100%;
}

.resultado_busqueda_spinner{
    margin-top: 20vh;
    margin-bottom: 30vh;
}

@media(max-width: 1400px) {
    .resultado_busqueda_bottom_container{
        margin-bottom: 50vh;
    }
}
@media(max-width: 1000px) {

    .resultado_busqueda_bottom_container {
        margin-top: 5%;
        width: 90%;
        align-self: center;
        margin-bottom: 45vh;
    }


    .resultado_busqueda_main_container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
        margin-bottom: 15%;
    }

    .resultado_busqueda_table_top{
        width: 90%;
    }
    
}

@media(max-width: 720px) {
    .resultado_busqueda_bottom_container{
        margin-bottom: 60vh;
    }

}

